
$tins : 18px;
$myBlue: #4169E1;
ul {
    li{
        border-style: dashed; 
        font: $tins;
    }
}

.button-basic  {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
  }
  

  