header {
    background-color: black;
    height: 30%;
    width: 100%;
}

header img{
    width: 160px;
    height: 70px;
    z-index: 1;
    margin-left: 2rem;
}



h1:first-child{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#lesson-subject{
    margin-left : 2rem;
}

#lesson-topic{
    margin-left : 4rem;
}

.title-group {
    border: black solid 0.01rem;
    padding: 1rem;
}


.subject-group {
    border : rgb(49, 52, 204) solid  0.01rem;
    padding: 1rem;
}


.topic-group {
    border : red solid  0.01rem;
    padding: 1rem;
}