


h1:first-child{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
h5{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left : 20px;
  }
#lesson-subject{
    margin-left : 2rem;
}

#lesson-topic{
    margin-left : 4rem;
}

.title-group {
    border: black solid 0.01rem;
    padding: 1rem;
}


.subject-group {
    border : rgb(49, 52, 204) solid  0.01rem;
    padding: 1rem;
}


.topic-group {
    border : red solid  0.01rem;
    padding: 1rem;
}