button.preview, button.delete-user{
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
}
.clearfix{
   content: "";
   clear: both;
   display: table;
}
h5{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    margin-left : 20px;
  }

#lesson-subject{
    margin-left : 2rem;
}

#lesson-topic{
    margin-left : 4rem;
}

.title-group {
    /* border: black solid 0.01rem; */
    margin-bottom: 30px;
    background: #e3f2fd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
}


.subject-group {
    /* border : rgb(49, 52, 204) solid  0.01rem; */
    margin-bottom: 20px;
    background: #e8eaf6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
}


.topic-group {
    /* border : red solid  0.01rem; */
    margin-bottom: 10px;
    background: #e1f5fe;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 1rem;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#deleteModal .modal-body button{
 width: 80px;
}